body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;

    min-height: 100vh;
    margin: 0;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#header-top {
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 7fr 1fr 1fr 2fr;
}

.icon {
    width: 20px;
    height: 20px;

    justify-self: center;
}

form {
    height: 17px;
}

#search {
    background-color: #cecece;
    border: 0;
    border-radius: 10px;
    width: 100%;
}

#profile-picture-header-top {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#header-bottom {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr 1fr;
}

#profile-picture-header-bottom {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

#header-bottom-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#header-bottom-buttons button {
    margin: 5px 20px;
}

#sidebar {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}